* https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df = sns.load_dataset('iris')
df.shape

(150, 5)

In [3]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [4]:
# 특정 컬럼에 있는 값들의 그룹화된 개수
df['species'].value_counts()

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

In [9]:
pd.DataFrame(df['species'].value_counts())

            species
virginica        50
setosa           50
versicolor       50

In [5]:
len(df) #몇개의 행이 있는지 확인

150

In [10]:
df.shape[0]

150

In [6]:
len(df) == df.shape[0] # 행의 개수 확인하는 동일한 방법

True

In [7]:
df['species'].nunique() #유니크한 것의 개수

3

In [11]:
df.describe() #데이터프레임의 요약

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
df.describe(include='all') # 모든 컬럼에 대한 요약을 보여줌

        sepal_length  sepal_width  petal_length  petal_width    species
count     150.000000   150.000000    150.000000   150.000000        150
unique           NaN          NaN           NaN          NaN          3
top              NaN          NaN           NaN          NaN  virginica
freq             NaN          NaN           NaN          NaN         50
mean        5.843333     3.057333      3.758000     1.199333        NaN
std         0.828066     0.435866      1.765298     0.762238        NaN
min         4.300000     2.000000      1.000000     0.100000        NaN
25%         5.100000     2.800000      1.600000     0.300000        NaN
50%         5.800000     3.000000      4.350000     1.300000        NaN
75%         6.400000     3.300000      5.100000     1.800000        NaN
max         7.900000     4.400000      6.900000     2.500000        NaN

In [12]:
df.describe(include=[np.object])

          species
count         150
unique          3
top     virginica
freq           50

In [13]:
df.describe(exclude=[np.object]) #특정데이터타입을 제외하고 봄

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
df.describe(include=[np.number])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [15]:
#특정컬럼 값의 전체합
df['petal_width'].sum()

179.90000000000003

In [16]:
#특정컬럼 값의 개수
df['petal_width'].count()

150

In [17]:
# 중간값
df.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [18]:
# 평균값
df.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [19]:
# 25%, 75%에 해당하는 값 조회
df['petal_width'].quantile([0.25,0.75])

0.25    0.3
0.75    1.8
Name: petal_width, dtype: float64

In [20]:
df.min()

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object

In [21]:
df.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [22]:
#분산
df.var()

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

In [23]:
#표준편차
df.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64

### apply(function)
---
* 데이터 전처리에서 사용되는 함수
* 특정 값까지 잘라오는 형태로 많이 사용
* 파라미터로 직접 lambda함수를 사용

In [24]:
def smp(x):
    # 뒤에서 3번째까지의 문자를 가져오는 함수
    x = x[-3:]
    return x

In [25]:
df['species_3'] = df['species'].apply(lambda x : x[:3])

In [26]:
df['species-3'] = df['species'].apply(smp)

In [27]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,species_3,species-3
0,5.1,3.5,1.4,0.2,setosa,set,osa
1,4.9,3.0,1.4,0.2,setosa,set,osa
2,4.7,3.2,1.3,0.2,setosa,set,osa
3,4.6,3.1,1.5,0.2,setosa,set,osa
4,5.0,3.6,1.4,0.2,setosa,set,osa
5,5.4,3.9,1.7,0.4,setosa,set,osa
6,4.6,3.4,1.4,0.3,setosa,set,osa
7,5.0,3.4,1.5,0.2,setosa,set,osa
8,4.4,2.9,1.4,0.2,setosa,set,osa
9,4.9,3.1,1.5,0.1,setosa,set,osa
10,5.4,3.7,1.5,0.2,setosa,set,osa
11,4.8,3.4,1.6,0.2,setosa,set,osa
12,4.8,3.0,1.4,0.1,setosa,set,osa
13,4.3,3.0,1.1,0.1,setosa,set,osa
14,5.8,4.0,1.2,0.2,setosa,set,osa
15,5.7,4.4,1.5,0.4,setosa,set,osa
16,5.4,3.9,1.3,0.4,setosa,set,osa
17,5.1,3.5,1.4,0.3,setosa,set,osa
18,5.7,3.8,1.7,0.3,setosa,set,osa
19,5.1,3.8,1.5,0.3,setosa,set,osa
20,5.4,3.4,1.7,0.2,setosa,set,osa
21,5.1,3.7,1.5,0.4,setosa,set,osa
22,4.6,3.6,1.0,0.2,setosa,set,osa
23,5.1,3.3,1.7,0.5,setosa,set,osa
24,4.8,3.4,1.9,0.2,setosa,set,osa
25,5.0,3.0,1.6,0.2,setosa,set,osa
26,5.0,3.4,1.6,0.4,setosa,set,osa
27,5.2,3.5,1.5,0.2,setosa,set,osa
28,5.2,3.4,1.4,0.2,setosa,set,osa
29,4.7,3.2,1.6,0.2,setosa,set,osa
...,...,...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,virginica,vir,ica
121,5.6,2.8,4.9,2.0,virginica,vir,ica
122,7.7,2.8,6.7,2.0,virginica,vir,ica
123,6.3,2.7,4.9,1.8,virginica,vir,ica
124,6.7,3.3,5.7,2.1,virginica,vir,ica
125,7.2,3.2,6.0,1.8,virginica,vir,ica
126,6.2,2.8,4.8,1.8,virginica,vir,ica
127,6.1,3.0,4.9,1.8,virginica,vir,ica
128,6.4,2.8,5.6,2.1,virginica,vir,ica
129,7.2,3.0,5.8,1.6,virginica,vir,ica
130,7.4,2.8,6.1,1.9,virginica,vir,ica
131,7.9,3.8,6.4,2.0,virginica,vir,ica
132,6.4,2.8,5.6,2.2,virginica,vir,ica
133,6.3,2.8,5.1,1.5,virginica,vir,ica
134,6.1,2.6,5.6,1.4,virginica,vir,ica
135,7.7,3.0,6.1,2.3,virginica,vir,ica
136,6.3,3.4,5.6,2.4,virginica,vir,ica
137,6.4,3.1,5.5,1.8,virginica,vir,ica
138,6.0,3.0,4.8,1.8,virginica,vir,ica
139,6.9,3.1,5.4,2.1,virginica,vir,ica
140,6.7,3.1,5.6,2.4,virginica,vir,ica
141,6.9,3.1,5.1,2.3,virginica,vir,ica
142,5.8,2.7,5.1,1.9,virginica,vir,ica
143,6.8,3.2,5.9,2.3,virginica,vir,ica
144,6.7,3.3,5.7,2.5,virginica,vir,ica
145,6.7,3.0,5.2,2.3,virginica,vir,ica
146,6.3,2.5,5.0,1.9,virginica,vir,ica
147,6.5,3.0,5.2,2.0,virginica,vir,ica
148,6.2,3.4,5.4,2.3,virginica,vir,ica
149,5.9,3.0,5.1,1.8,virginica,vir,ica